link(rel="stylesheet", type="text/css", href="/stylesheets/forms.css")
section#wrapper
  .container
    .row
      .gap-30
    form(method='post', action='/resetpassword', id='reset-form'
      class="well")
      fieldset
        h3 Reset your collab password
        .gap-20
        .control-group
          label(class='control-label'
            for='password') New password:
          .controls
            input.required(name='password', id='password', type='password', size=40)
        .control-group
          label(class='control-label'
            for='password_verify') Verify Password:
          .controls
            input.required(name='password_verify', id='password_verify', type='password', size=40) 
            input(name='id', id='id', type='hidden', value='#{hashedPassword}')     
        button(type="submit" 
          class="btn btn-primary") Reset my password
     
- scripts.push('resetpassword.js'); 
